html {
    background-color: rgb(250, 250, 250);
    font-family: 'Roboto', sans-serif;
}

#menu {
    position: absolute;
    right: 1.25em;
    bottom: 2.5em;
    padding: 10px;
    z-index: 10;
    color: darkslategray;
    background-color: white;
    border: thin solid transparent;
    /*border-radius: 4px;*/
    /*box-shadow: 0 0 10px 2px rgba(0,0,0,.1);*/
    /*box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22), 0 5px 14px 0 rgba(0, 0, 0, 0.18);*/
    /*box-shadow: 0 0 2px 1px rgba(0, 0, 0, .25);*/
    border-radius: 4px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

#menu label {
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
    font-weight: 500;
}
button a span {
    font-size: 0.9em;
    font-weight: 500;
    color: black;

}
#dlib em {
    color: white;
    background-color: #a67a78;
    font-style: normal;
    letter-spacing: 0.15em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.15em;
}
#dlupa li, #dlib li {
    font-size: 90%;
    list-style: none
}
#dlib li {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 1.5em;
    max-height: 4.5em;
}
#dlib li:hover {
    line-height: 1.5em;
    max-height: none;
    overflow: auto;
}
/*#feedback {z-index: 100; position: absolute; bottom: 2rem; left: 40%}*/
div#myData {
    position: fixed;
    left: 1rem;
    top: 1rem;
    bottom: 1rem;
    width: 20%;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    border: thin solid white;
    /*box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22), 0 5px 14px 0 rgba(0, 0, 0, 0.18);*/
    /*box-shadow: 0 0 2px 1px rgba(0, 0, 0, .25);*/
    /*border-radius: 3px;*/
    border-radius: 4px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
    overflow: auto;
}

div#map {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

h1, h2, h3, h4, p, dd, li, a, br {
    line-height: 1.3rem;
}
h1, h2, h3, h4, a {
    font-size: 1rem;
    color: #8e1c15;
    font-weight: normal;
}

#dWPedia h1, #dWPedia h2, #dWPedia h3, #dWPedia h4 {
    font-family: 'Graduate', sans-serif;
}
#frameHolder {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 230, 230, 0.4);
}
#dlupa > p, #dlib > p, #dWPedia > p {
   font-family: 'Graduate', sans-serif;
    color: #8e1c15;
}
#dThumb {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem 2rem 0.5rem 2rem;
}

#dWPedia, #dWPedia h2 {
    font-size: 1rem;
    font-weight: normal;
    /*    break-before: column;*/
    /*    margin-top: 0.25rem;*/
    /*    overflow: scroll;*/
}

#dWPedia h4 {
    margin-top: 0;
}

#dWPedia b {
    font-weight: normal;
    letter-spacing: 0.1rem;
}

iframe {
    position: fixed;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border: thin solid white;
    /*border-radius: 0.25rem;*/
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .25);
    background-color: rgba(240, 240, 240, 0.25);
}

#myData p:first-of-type {
    margin-top: 0;
}

a {
    text-decoration: none
}

h1 {
    font-family: 'Graduate', sans-serif;
    font-weight: 550;
    font-size: 1.1em;
    text-align: left;
    column-span: all;
    line-height: 1.8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1em;
    color: #8e1c15;
}

h4 {
    font-family: 'Graduate', sans-serif;
    font-size: 1.1em;
    text-align: left;
    margin-top: 0;
}

img {
    /*width: -webkit-fill-available;*/
    max-width: 90%;
    /*max-height: 350px;*/
    border: thin inset white;
}

ul {
    padding-left: 0
}

li {
    margin-bottom: 0.2rem
}

hr {
    border-color: darkgray;
    border-style: groove;
    margin-bottom: 1rem;
}
#myData button span {
    display: block;
}
#myData button {
    /*display: compact;*/
    /*display: block;*/
    font-size: 0.9em;
    text-align: left;
    width: max(100%, 100%);
    font-family: 'Graduate', sans-serif;
    padding: 0.35em 1em;
    /*box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22), 0 5px 14px 0 rgba(0, 0, 0, 0.18);*/
    background: linear-gradient(to bottom, white 0%, whitesmoke 50%);
    border: thin outset rgb(250,250,250);
    display: table-row;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem; /*box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .2);*/
}

#myData button:hover, #myData button:active {
    background: linear-gradient(to top, white 0%, whitesmoke 50%);
    border: thin inset rgb(250,250,250);
}
.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    float: right;
    margin: 1rem 1rem 0 0;
}

.mapboxgl-ctrl-geocoder {
    height: 2rem;
}

.mapboxgl-ctrl-geocoder--input {
    padding: 6px 35px 8px;
}

.mapboxgl-ctrl-top-right {
    top: 0.5rem;
}

.mapboxgl-ctrl-geocoder {
    max-width: 9rem;
    min-width: 9rem;
}

/*a:before {content: '↗ '} */
