@font-face {
    font-family: 'Merriweather Sans';
    src: url('https://dlib.biblhertz.it/fonts/MerriweatherSans/MerriweatherSans-Regular.eot?') format('eot'), url('https://dlib.biblhertz.it/fonts/MerriweatherSans/MerriweatherSans-Regular.woff') format('woff'), url('https://dlib.biblhertz.it/fonts/MerriweatherSans/MerriweatherSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    src: url('https://dlib.biblhertz.it/fonts/Merriweather/Merriweather-Regular.eot?') format('eot'), url('https://dlib.biblhertz.it/fonts/Merriweather/Merriweather-Regular.woff') format('woff'), url('https://dlib.biblhertz.it/fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('https://dlib.biblhertz.it/fonts/Roboto/Roboto-Regular.eot?') format('eot'), url('https://dlib.biblhertz.it/fonts/Roboto/Roboto-Regular.woff') format('woff'), url('https://dlib.biblhertz.it/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('https://dlib.biblhertz.it/fonts/Roboto/Roboto-Medium.eot?') format('eot'), url('https://dlib.biblhertz.it/fonts/Roboto/Roboto-Medium.woff') format('woff'), url('https://dlib.biblhertz.it/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#menu {
    position: absolute;
    right: 1.25em;
    bottom: 2.5em;
    padding: 10px;
    z-index: 100;
    color: darkslategray;
    /*background-color: white;*/
    border: thin solid transparent;
    /*border-radius: 4px;*/
    /*box-shadow: 0 0 10px 2px rgba(0,0,0,.1);*/
    /*box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22), 0 5px 14px 0 rgba(0, 0, 0, 0.18);*/
    /*box-shadow: 0 0 2px 1px rgba(0, 0, 0, .25);*/
    border-radius: 4px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

#menu label {
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
    font-weight: 500;
}


.mapboxgl-ctrl-attrib {
    visibility: hidden;
}

em {
    text-shadow: 1px 1px 1px whitesmoke;
}


.hidden {
    display: none;
}

.shown {
    display: inline-block;
}

#map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-right: thin groove black;
    overflow: hidden;
}

/*#pitch {*/
/*    position: relative;*/
/*    font-size: 150%;*/
/*    padding: 5px;*/
/*    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%20id%3D%22svg2%22%20version%3D%221.1%22%3E%3Crect%20style%3D%22fill%3A%23e6e6e6%3Bfill-opacity%3A1%3Bstroke%3A%23000000%3Bstroke-width%3A1.4289844%3Bstroke-linecap%3Abutt%3Bstroke-linejoin%3Abevel%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-opacity%3A1%22%20id%3D%22rect4184%22%20width%3D%226.3801188%22%20height%3D%227.9892497%22%20x%3D%2213.022924%22%20y%3D%227.778275%22%20ry%3D%220.64057821%22%20transform%3D%22matrix(1%2C0%2C-0.52773606%2C0.84940841%2C0%2C0)%22%20%2F%3E%3C%2Fsvg%3E");*/
/*}*/

#menu, #list {
    position: absolute;
    width: 12em;
    left: 1.25em;
    padding: 10px;
    z-index: 10;
    color: darkslategray;
    background-color: rgba(255,255,255,0.75);
    border-radius: 4px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}
#menu {
    bottom: 2.5em;
}
#list {
    top: 2.5em;
}

#menu label {
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
    font-weight: 500;
}
em {
    font-size: 150%;
    color: darkblue;
}
#list button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 115%;
    padding: 0.25em;
    border: none;
    display: block;
    background-color: transparent;
    line-height: 1.25em;

}

/*.mapboxgl-ctrl-group {*/
/*    padding: 0.5em;*/
/*    margin: 0.75em;*/
/*    pointer-events: auto;*/
/*    font-weight: bold;*/
/*    color: black;*/
/*}*/

.fancybox__container {
    --fancybox-bg: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0.5) 70%); /*radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.25) 100%)*/ /*rgba(255,255,255,0.5); */
}
.fancybox-image {
    /*box-shadow: 0 0 10px 2px rgba(0,0,0,.2);*/
    /*border-radius: 8px ;*/
    /*margin: 1em;*/
    /*padding: 2em 0em 2em 0;*/
    /*background-color: white;*/
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}
.fancybox__toolbar__column.is-right {
    display: none;
}
.fancybox__caption {
    color: darkslategray;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 500;
    /*border-radius: 4px ;*/
    /*box-shadow: 0 0 10px 2px rgba(0,0,0,.2);*/
    margin-top: 0;
    /*padding: 1em 2em 1em 2em;*/
    /*background-color: white;*/
}
    .fancybox__content {
        padding: 0;
        /*border-radius: 8px;*/
        box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

#features {
    position: fixed;
    top: 10px;
    right: 10px;
    bottom: 10px;
    padding: 2em;
    /*box-shadow: 0 1px 2px rgb(0 0 0 / 20%);*/
    overflow-y: scroll;
    overflow-x: hidden;
    width: 30%;
    /*margin-left: 70%;*/
    font-family: 'Merriweather', sans-serif;
    line-height: 1.5em;
    color: rgb(42, 42, 42);
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 90%;
    /*border-left: thin groove black;*/
    border-radius: 4px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

#features > p {
    background-color: darkgrey;
    border-radius: 3px;
    padding-top: 0.2em
}
h5 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 90%;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    display: inline-block;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-right: 0.25em;
    margin-left: 0.25em;
}

.capsule {
    border: thin solid gray;
    padding: 1em;
    margin-bottom: 1em;
}
p {
    text-align: justify;
    text-justify: inter-word;
}
a {
    font-size: 95%;
    color: darkblue;
    text-decoration: none;
    border: thin dotted gray;
    display: inline-block;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-right: 0.25em;
    margin-left: 0.25em;
}
article {
    display: none;
}
article.active {
    display: block;
}
a:hover, mark:hover {
    color: darkblue;
}
aside {
    font-size: small;
    border-left: thin dashed grey;
    margin-left: -1em;
    padding-left: 1em;
}
section {
    border-top: thin solid gray;
    border-bottom: thin solid gray;
}